@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
html {
	font-size: 62.5%;
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
	background-color: black;
	font-family: 'Exo', sans-serif;
}


/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}
p{
	display: flex;
	font-family:'Exo', sans-serif;
	justify-content: center;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
	text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;

}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background:rgb(184, 159, 126);
	/* Fallback for when there is no custom background color defined. */
}
p{
	font-size: 15px;
}

hr {
	border-radius: 50%;
	height: 7px;
	background-color: #fff;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}
/*=======Global Css=================*/

* {
	outline: none;
}

.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	
}


.footer{
	padding: 25px;
	font-size: 15px;
	display: flex;
	text-align: center;
	justify-content: center;
}

/*======Page Header=============*/

.top-header {
	/*background: #1c3961;
}

.top-header a {
	/*text-decoration: none;*/
	/*color: #fff;*/
	/*font-family: 'Raleway', sans-serif;*/
}

.top-header .container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.top-header .container .top-header-left svg {
	margin-right: 0.9rem;
}

.top-header-left {
	display: flex;
	flex-flow: row wrap;
}

.top-header-block {
	margin-right: 4.5rem;
}

.top-header-right {
	display: flex;
	flex-flow: row wrap;
}

.top-header-right ul, li {
	margin: 0;
	padding: 0;
}

.top-header-right li {
	display: inline-block;

}

.social-block {
	margin-right: 8.5rem;
}

.top-header-right .social-list li {
	margin-right: 0.625em;
	margin-left: 0.625em;
}
/*=================Menu Navigation===============*/
.main-header{
	background-color: #fff;
	z-index: 999;
    position: fixed;
    width: 100%;
	margin-bottom: 100px;
}
.main-header .container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 1.375em;
	padding-bottom: 1.375em;
}


.nav-desktop {
	display: inline-block;
}

.nav-desktop li, .nav-desktop li a{
	font-size: 1.8rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #000;

}

.nav-desktop li {
	padding: 1.6rem;
	background-color: #fff;
}

.nav-desktop ul ul {
	position: absolute;
	display: none;
	margin: 0;
}

.menu-list {
	display: flex;
}

ul > li {
	position: relative;
	list-style: none;
}

.nav-desktop .sub-menu {
	top: 100%;
	left: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sub-menu li:hover {
	background: #fff
}

.menu-list > li > .sub-menu::before {
	position: absolute;
	content: "";
	border: 1px solid #1f4271;
	top: 0;
	width: 35%;
	left: 3%;
	cursor: pointer;
}

.sub-menu .sub-menu{
	top: -1px;
	left: 100%;
}

.menu-parent:hover > .sub-menu{
	display: block;
	z-index: 999;
	width: 20rem;
	padding-left: 0;
	text-align: left;
}

#bar, #close {
	display: none;
}

.menu-parent::after {
	content: "";
	border: solid #3a3a3a;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-left: 10px;
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}

.menu-parent .menu-parent::after {
	content: "";
	border: solid #3a3a3a;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-left: 10px;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}
/*==========================
	course section
===========================*/

.course-section{
	max-width: 1200px;
	margin:0px auto;
	padding-top:200px ;
	margin-bottom: 100px;
	align-items: flex-start;
	gap:20px;
 }

.course-section .box{
	flex:1 1 700px;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	background-color: #000;
	padding:20px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}

.course-section .main-content{
	flex:1 1 700px;
	border-radius: 30px;
	background-color: #000;
	padding:20px;
	height: 70vh;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10%;
	margin-top: 10%;
 }
 
 .course-section .main-content .main-item{
	width: 100%;
	height: 100%;
 }
 
 .course-section .main-content .main-vid-title{
	font-size: 20px;
	color:#444;
 }
 
 .course-section .list-content{
	flex:1 1 350px;
	max-height: 300px;
	overflow-y: scroll;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	background-color: #fff;
	padding:15px;
 }
 
 .course-section .list-content::-webkit-scrollbar{
	width: 10px;
 }
 
 .course-section .list-content::-webkit-scrollbar-track{
	background-color: #fff;
	border-radius: 5px;
 }
 
 .course-section .list-content::-webkit-scrollbar-thumb{
	background-color: #444;
	border-radius: 5px;
 }
 
 .course-section .list-content .list{
	display: flex;
	align-items: center;
	gap:15px;
	padding:10px;
	background-color: #eee;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
 }
 
 .course-section .list-content .list:last-child{
	margin-bottom: 0;
 }
 
 .course-section .list-content .list.active{
	background-color: #444;
 }
 
 .course-section .list-content .list.active .list-title{
	color:#fff;
 }
 
 .course-section .list-content .list .list-item{
	width: 100px;
	border-radius: 5px;
 }
 
 .course-section .list-content .list .list-title{
	font-size: 17px;
	color:#444;
	margin-right: auto;
	margin-left: auto;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 @media (max-width:1200px){
 
	.course-section{
	   margin:0;
	}
 
 }
 
 @media (max-width:450px){
 
	.course-section .main-content .main-vid-title{
	   font-size: 15px;
	   text-align: center;
	}
 
	.course-section .list-content .list{
	   flex-flow: column;
	   gap:10px;
	}
 
	.course-section .list-content .list .list-item{
	   width: 100%;
	}
 
	.course-section .list-content .list .list-title{
	   font-size: 15px;
	   text-align: center;
	}
 
 }


 div.c{
	position: relative;
	margin:2em;
	
  }
  input{
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity:0;
	visibility: 0;
  }
  label::before{
	content:"";
	display: inline-block;
	border: 15px solid transparent;
	border-left:20px solid #fff;
	
  }
  label{
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	background:burlywood;
	color:#000;
	padding:1em;
  }
  div.p{
	max-height:0px;
	overflow: hidden;
	transition:max-height 0.5s;
	background-color: white;
	box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  div.p p {
	padding:2em;
  }
  input:checked ~ h1 label::before{
	border-left:15px solid transparent;
	border-top:20px solid white;
	margin-top:12px;
	margin-right:10px;
  }

   input:checked ~ h1 ~ div.p{
	max-height:300px;
    overflow-y: scroll;
  }
  input:checked ~ h1 ~ div.p::-webkit-scrollbar{
	-webkit-appearance: none;
    width: 10px;
  }

  input:checked ~ h1 ~ div.p::-webkit-scrollbar-thumb{
	border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  a{
	color:steelblue;
  }



/*====== services ==========*/
.cards{
	background-color: #000;
	padding: 50px;
}
.title {
    display: flex;
    justify-content: center;
    color: #fff;
	padding-top: 30px;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
	
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/*======== content ============*/
.text-section{
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}
.text-section h1{
	font-size: 30px;
	text-align:center;
	border-radius: 300px;
	background-color: #000;
	padding: 1em;
	color: #fff;
}
.about-teacher {
	width: 100%;
	display: flex;
	padding-top: 5%;
	justify-content: center;
	height: 100vh;

}

.about-teacher .text-section{
	margin-top: auto;
	margin-bottom:auto ;
}
.about-teacher .image-section{
	margin-top: auto;
	margin-bottom:auto ;
	width: 300px;
	height: 100%;
}

/*=======Page Footer================*/
.page-footer{
	background: white;
	color: #000;
}

.page-footer .footer-first-section .container {
	padding-top: 3.75em;
	padding-bottom: 4.6875em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.page-footer .footer-first-section .container .box-wrap {
	width: 23.077%;
}

.footer-first-section .box-wrap header {
	position: relative;
	padding-bottom: 1.25em;
	margin-bottom: 1.875em;
}

.footer-first-section .box-wrap header h1 {
	/*font-size: 1.8rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	font-weight: bold;
	text-transform: capitalize;
}

.footer-first-section .box-wrap header::after {
	position: absolute;
	content: "";
	border: 1px solid #fff;
	bottom: 0;
	width: 13%;
}

.footer-first-section .box-wrap p {
	/*font-size: 1.4rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	margin-bottom: 1.857em;
}

.footer-first-section .box-wrap h4 {
	border-top: 1px solid #fff;
	padding-top: 1.1428em;
	padding-bottom: 1.1428em;
	font-weight: normal;
	/*font-size: 1.4rem;*/
}

.footer-first-section .box-wrap h4 svg {
	margin-right: 10px;
}

.footer-first-section .box-wrap ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-first-section .box-wrap ul li {
	margin-bottom: 1em;
}

.footer-first-section .box-wrap ul li:before {
	content: "";
	border: solid #fff;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-right: 7px;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}


.footer-first-section .recent-course-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/*font-family: 'Raleway', sans-serif;*/
	border-bottom: 1px solid #fff;
	margin-bottom: 1.25em;
}

.footer-first-section .recent-course-wrap img {
	border: none;
	border-radius: 5px;
	height: 60px;
}

.footer-first-section .recent-course-wrap .course-name h3 {
	/*font-size: 1.6rem;*/
}

.footer-first-section .recent-course-wrap .course-name p {
	/*font-size: 1.4rem;*/
}

.footer-first-section .recent-course-wrap .course-name p span {
	text-decoration: line-through;
	margin-right: 10px;
}

.footer-first-section .quick-contact input {
	/*background: #000;*/
	/*color: #fff;*/
	/*font-size: 1.4rem;*/
	padding: 1em;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 100%;
}

.footer-first-section .quick-contact textarea {
	/*background: #000;*/
	/*color: #fff;*/
	/*font-size: 1.4rem;*/
	padding: 1em;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer-first-section .quick-contact button {
	width: 100%;
	/*background: #fff;*/
	/*color: #000;*/
	/*font-size: 1.4rem;*/
	padding: 1.6rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
/*=====footer-second-section===*/

.footer-second-section .container {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
}

.footer-second-section .footer-line {
	border: 1px solid #fff;
	width: 40%;
}

.page-footer .footer-second-section .social-list {
	width: 19%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.page-footer .footer-second-section .social-list li:first-child {
	margin-left: 20px;
}

.page-footer .footer-second-section .social-list li {
	display: inline-block;
	margin-right: 20px;
}

/*======footer-last-section====*/

.footer-last-section .container {
	padding-top: 2.1875em;
	padding-bottom: 2.4375em;
	text-align: center;
}

.footer-last-section .container p span {
	padding-right: 1em;
	padding-left: 1em;
}

/*===================================
	Other Pages
=====================================*/


/*========Full Width============================*/

.full-width .page-content .container .grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.full-width aside {
	display: none;
}

.full-width .page-content .page-article,
.full-width #course-page .course-detail {
	width: 100%;
}

.full-width .page-content .container .grid-container .navigation{
	grid-column: 1/4;
}

/*==============================================================*/

.grid-container .grid-box-wrap {
	width: 370px;
	box-sizing: border-box;
}

.grid-box-wrap .grid-img {
	margin-bottom: -6.5px;
}

.grid-box-wrap .grid-img img {
	border-top-right-radius: 5px; 
	border-top-left-radius: 5px; 
}

.grid-box-wrap .grid-body {
	border: 1px solid #c7c7c7;
	padding: 1.5em;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.grid-box-wrap .grid-body h4{
	/*font-size: 1.4rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #5c5c5c;*/
	font-weight: normal;
}

.grid-box-wrap .grid-body h1 {
	/*font-size: 2rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #000;*/
	margin-top: 0.9em;
	margin-bottom: 1.15em;
}

.grid-box-wrap .grid-body p {
	/*font-size: 1.6rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #5c5c5c;*/
}	

.grid-box-wrap .grid-body a {
	/*text-decoration: none;*/
	display: block;
	text-transform: uppercase;
	/*font-size: 1.6rem;*/
	/*font-family: 'Raleway',sans-serif;*/
	/*color: #2b74b8;*/
	margin-top: 1.875em;
	margin-bottom: 0.6875em;
}

/*======Aside=============*/
.page-content{
	background-color: #000;
	color:#fff;
}

.page-content .container aside, .testimonial-page .container aside {
	float: left;
	width: 31.624%;
	/*font-family: 'Raleway', sans-serif;*/
}

.page-content .container aside .news-letter,
 #course-page aside .reserve-course,
 .testimonial-page aside .submit-testimonials {
	/*background: #f3f3f3;*/
	border: 1px solid #c7c7c7;
	padding: 1.5em;
	border-radius: 5px;
}

.testimonial-page aside .submit-testimonials {
	border: none;
	border-radius: none;
}

.submit-testimonials form span p{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 20px;
	margin-left: 5px;
}

.submit-testimonials form span .rateYo {
	display: inline-block;
}

.page-content .container aside .news-letter h2 {
	/*font-size: 2.4rem;*/
	text-align: center;
}

aside .news-letter hr {
	width: 100%;
}

.page-content .container aside .news-letter p {
	/*font-size: 1.6rem;*/
	/*color: #5c5c5c;*/
}

.page-content .container aside .news-letter input[type="email"] {
	width: 100%;
	/*font-size: 1.6rem;*/
	padding: 1em 1.5em;
	margin-top: 1.625em;
	margin-bottom: 1.25em;
	border-radius: 5px;
}

.page-content .container aside .news-letter a {
	/*text-decoration: none;*/
	display: block;
	/*color: #fff;*/
	/*font-size: 1.6rem;*/
	text-align: center;
	/*background: #2b74b8;*/
	width: 100%;
	padding: 1.1875em;
	font-weight: bold;
	border-radius: 5px;
}

/*======Recent Posts==============*/

.page-content .container aside .recent-post {
	background: #f5f5f5;
	padding: 1.5625em;
	padding-bottom: 2.5em;
	margin-top: 3.8125em;
	margin-bottom: 4.0625em;
}

.page-content .recent-post .post {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
}

.page-content .container aside .recent-post h2 {
	/*font-size: 2rem;*/
	/*color: #000;*/
	text-transform: capitalize;
	margin-bottom: 1.5em;
	margin-top: 0.25em;
}

.page-content .recent-post .post-wrap {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	margin-bottom: 1.25em;
}

.page-content .post-wrap .img-wrap {
	width: 70px;
	object-fit: fill;
}

.page-content .post-wrap .img-wrap img{
	height: 90px;
}

.page-content .post-wrap .post-content {
	width: 250px;
	/*background: #fff;*/
	padding: 0.9375em;
}

.page-content .post-content p {
	/*font-size: 1.4rem;*/
	color: #666666;
}
/*=====follow us on==============*/

.page-content .follow-us {
	/*background: #fff;*/
	/*color: #000;*/
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	padding: 1.5625em;
	padding-bottom: 2em; 
}

.page-content .follow-us h2 {
	/*font-size: 2.4rem;*/
	text-align: left;
}

.page-content .follow-us a {
	/*font-size: 2.4rem;*/
	margin-right: 1.5em;
	/*color: #000;*/
}

/*====Lates Course=========*/

.page-content .latest-course {
	/*background: #fff;*/
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	padding: 1.5625em;
	margin-top: 2.75em;
}

.page-content .latest-course .courses-wrap {
	position: relative;
	margin-bottom: 1.75em;
}

.page-content .latest-course .courses-wrap:last-child {
	margin-bottom: 0;
}

.page-content .courses-wrap img {
	border-radius: 5px;
}

.page-content .courses-wrap span {
	position: absolute;
	/*font-size: 1.4rem;*/
	/*background: #2b74b8;*/
	padding: 5px 20px 5px 10px;
	top: 51%;
	left: 0;
	/*color: #fff;*/
}

.page-content .courses-wrap p {
	/*font-size: 1.8rem;*/
	/*color: #fff;*/
	position: absolute;
	left: 20px;
	bottom: 24px;
}
/*=======Page Number=========*/
.navigation.pagination{
	margin-top: 1.875em;
	margin-bottom: 6em;
}

.navigation.pagination .page-numbers{
	/*font-size: 2rem;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #5c5c5c;*/
	line-height: 15px;
	display: inline-block;
	padding: 0.25em 0.8em;
	padding-left: 0;
	text-transform: capitalize;
	/*text-decoration: none;*/
}

.navigation.pagination .page-numbers:last-child::after{
	display: none;
}

.navigation.pagination .page-numbers::after{
	content: "";
	width: 1px;
	height: 100%;
	border: 1px solid #5c5c5c;
	margin-left: 0.8em;
}

.navigation.pagination .page-numbers.current,
 .navigation.pagination .page-numbers:hover{
	/*color: #2b74b8;*/
}




/*======================
	Contact page
========================*/
.contact-page-section {
	/*font-family: 'Raleway', sans-serif;*/
	padding-top: 50px;
}

.contact-page-section .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 6.25em;
	padding-bottom: 6.25em;
}

.contact-page-section .people-info-wrap {
	width: 57.265%;

}

.contact-page-section .people-info-wrap h2 {
	/*font-size: 3rem;*/
	text-transform: uppercase;
	/*color: #000;*/
}

.contact-page-section .people-info-wrap p {
	/*font-size: 1.6rem;*/
	/*color: #5c5c5c;*/
	margin-top: 1.5625em;
	margin-bottom: 2.5em;
}

.contact-page-section .people-info-wrap form span {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.contact-page-section .people-info-wrap form .input- {
	/*font-size: 1.6rem;*/
	padding: 0.875em 1.5em;
}

.people-info-wrap form .name, .people-info-wrap form .email {
	width: 48%;
}

.people-info-wrap form .subject {
	margin-top: 0.9375em;
	margin-bottom: 0.9375em;
	width: 100%;
}

.people-info-wrap form textarea {
	padding-top: 1.5em !important;
	resize: none;
	height: 8em;
}

.people-info-wrap form input[type="submit"] {
	/*font-size: 1.6rem;*/
	background: #2d77bf;
	/*color: #fff;*/
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
	margin-top: 1.875em;
	cursor: pointer;
}

/*====Contact Info====*/

.contact-page-section .contact-info {
	width: 370px;
}

.contact-page-section .contact-info h2 {
	/*font-size: 3rem;*/
	text-transform: uppercase;
	/*color: #000;*/
	margin-bottom: 2em;
}

.contact-page-section .contact-list {
	margin: 0;
	padding: 0;
	padding-bottom: 1.875em;
	list-style: none;
	border-bottom: 1px solid #b9c1cd;
}

.contact-page-section .contact-list li {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 3.125em;
}

.contact-page-section .contact-list li svg {
	/*color: #000;*/
	margin-top: 5px;
	margin-right: 25px;
}

.contact-page-section .contact-social {
	margin: 0;
	margin-top: 2.25em;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
}

.contact-page-section .contact-social li{
	margin-right: 1.5em;
}

.map-section {
	margin-bottom: -7px;
}

/*============================
	Course Single Page
==============================*/
.about-course{
	padding: 200px;
	border-radius: 30px;
	background:rgb(72, 5, 198);
}
.about-course h1{
	text-align: center;
    color: #fff;
    font-size: 50px;

}

#course-page {
	/*font-family: 'Raleway', sans-serif;*/
}

#course-page .container {
	padding-top: 5em;
	padding-bottom: 6.25em;
	margin-top: 0;
}

#course-page .course-detail {
	width: 77rem;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

#course-page .course-detail h2 {
	/*font-size: 3rem;*/
	/*color: #000;*/
	text-transform: uppercase;
}

#course-page .course-detail header {
	display: flex;
	flex-flow: row wrap;
	margin-top: 2.25em;
}

.course-detail .course-box {
	width: 186px;
	text-align: center;
	border-right: 1px solid #adadad;
}

.course-detail .course-box:last-child {
	border: none;
}

.course-detail .course-box i {
	margin-bottom: 1.6rem;
	/*color: #1c3961;*/
}

.course-detail .course-box p {
	/*font-size: 1.4rem;*/
	color: #616161;
}

.course-detail .course-box h3 {
	/*font-size: 1.6rem;*/
	text-transform: capitalize;
	/*color: #1c3961;*/
}

.course-detail .course-box button {
	/*background: #1c3961;*/
	/*color: #fff;*/
	/*font-size: 1.6rem;*/
	padding: 0.875em 2em;
	border: none;
	text-transform: capitalize;
	margin-top: 1em;
	/*font-family: 'Raleway', sans-serif;	*/
	cursor: pointer;
}

.course-detail .course-intro {
	padding-top: 6.25em;
}

.course-detail h3 {
	/*font-size: 2.4rem;*/
	text-transform: capitalize;
	/*color: #000;*/
}
.course-detail p {
	/*font-size: 1.6rem;*/
	/*color: #646464;*/
}

.course-detail .course-intro p {
	margin-top: 1.25em;
	/*margin-bottom: 2.5em;*/
}

.course-objective h3 {
	margin-top: 1.6667em;
}

.course-objective p {
	margin-top: 1rem;
	margin-bottom: 1.4rem;
}

.course-objective ul {
	padding-left: 10px;
}

.course-objective li {
	/*font-size: 1.6rem;*/
	/*color:  #646464;*/
	line-height: 2em;
}

.course-objective li:before {
	content: "";
	border: solid #000;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
  	padding: 3px;
  	margin-right: 7px;
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}

#course-page .reserve-course h2,
.testimonial-page aside .submit-testimonials h2 {
	/*font-size: 2rem;*/
	font-weight: 500;
	margin-bottom: 1.25em;
}

#course-page aside .reserve-course input[type="text"],
aside .reserve-course input[type="email"],
.testimonial-page aside .submit-testimonials input[type="text"],
.testimonial-page aside .submit-testimonials input[type="email"]
{
	width: 100%;
	/*font-size: 1.4rem;*/
	padding: 1em 0.85em;
	margin-bottom: 1.43em;
}

#course-page aside .reserve-course textarea,
.testimonial-page aside .submit-testimonials textarea {
	width: 100%;
	/*font-size: 1.4rem;*/
	padding: 1.143em 1.5em;
	margin-bottom: 1.2em;
	height: 150px;
	resize: none;
}

#course-page aside .reserve-course input[type="submit"],
.testimonial-page aside .submit-testimonials input[type="submit"] {
	width: 150px;
	/*background: #1c3961;*/
	/*color: #fff;*/
	text-align: center;
	/*font-size: 1.8rem;*/
	padding-top: 0.778em;
	padding-bottom: 0.778em;
	cursor: pointer;
}

.testimonial-page aside .submit-testimonials input[type="submit"] {
	display: block;
}

/*===Trainers========*/

.post-content span a {
	margin-right: 10px;
}

.post-content span {
	display: block;
	margin-top: 8px;
}

.post-content .fa-facebook-f {
	color: #131d9c;
}

.post-content .fa-instagram {
	color: #a506bd;
}

.post-content .fa-twitter {
	color: #11c3f6;
}

.post-content .fa-linkedin-in {
	color: #2564b2;
}

/*===Recent Courses===*/
.recent-course-single .container {
	padding-bottom: 5.3em;
}

.recent-course-single h2 {
	/*font-size: 3rem;*/
	/*color: #000;*/
	text-transform: uppercase;
	margin-bottom: 1.6em;
	font-weight: 600;
	/*font-family: 'Raleway', sans-serif;*/
}


/*===========================
RESPONSIVE STYLESHEET
===========================*/

@media screen and (max-width: 1199px) {
	.container {
		max-width: 1000px;
		padding-left: 15px;
		padding-right: 15px;
	}

	/*=====Popular Courses====*/

	.learn-desining-banner {
		left: 15%;
		top: 53% !important;
		/*background: #009450;*/
		padding: 0.9375em 2em 1em 2em;
	}

	/*===========Gallery=========*/
	.gallery-images-section {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	/*====UPcomming Event====*/
	.event-wrap .details {
	width: 70%;
	padding: 1em;
	top: 3%;
	}

	/*===What Other Say*/
	.what-other-say .container {
	padding: 4.375em 1em;
	}

	/*=====Lates New Section====*/
	.news-detail {
		top: 47%;
	}

	.latest-news .container .owl-carousel .owl-nav {
		margin-top: 0;
	}
	

	/*==Footer Line Part=====*/
	.page-footer .footer-second-section .footer-line {
		width: 38%;
	}

	.page-footer .footer-second-section .social-list {
		width: 23%;
	}
	/*=====================================
		Blog Page
	======================================*/
	.page-content .container {
		flex-flow: column wrap;
	}

	.page-content .container .grid-container{
		margin-right: auto;
		margin-left: auto;
	}

	.page-content .container aside {
		width: 371px;
		margin-left: auto;
		margin-right: auto;
	}

	.page-content .latest-course {
		margin-bottom: 4em;
	}

	/*=====================================
		Blog Edu Single
	======================================*/
	.page-content .page-article {
		margin-right: auto;
		margin-left: auto;
	}

	.page-content .comment-form {
		margin-right: auto;
		margin-left: auto;
	}

	/*=====================================
		About Page
	======================================*/

	.team-members .developer-grid {
		grid-template-columns: repeat(3, 1fr);
		width: 870px;
		margin-left: auto;
		margin-right: auto;
	}

	/*=====================================
		Course Listing Page
	======================================*/

	.course-listing-page .button-group::after, 
	.gallery-section2 .button-group::after{
		left: 23%;
	}

	.course-listing-page .grid {
		justify-content: space-around;
	}

	/*=====================================
		Course Single Page
	======================================*/
	#course-page .course-detail, .testimonial-page .customer-review {
		width: 77%;
		margin-right: auto;
		margin-left: auto;
	}

	#course-page .container {
		padding-bottom: 1.25em;
	}

	#course-page aside, .testimonial-page aside {
		margin-top: 4em;
	}

	.recent-course-single .grid {
		justify-content: space-around;
	}

	.testimonial-page aside, .testimonial-page .submit-testimonials {
		margin-right: auto;
		margin-left: auto;
	}

}

@media screen and (max-width: 1024px) {
	.container {
		max-width: 800px;
	}

	.top-header .top-header-left {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

	.top-header .top-header-left .top-header-block:last-child {
		margin-right: 1em;
	}

	.top-header .top-header-right {
		margin-left: auto;
		margin-right: auto;
	}

	.top-header-right .social-block {
		margin-right: 3em;
	}


	/*====navigation=====*/
	.menu-list {
		flex-direction: column;
	}	

	.nav-desktop {
		display: none;
		width: 250px;
	}

	.nav-desktop li, .nav-desktop li a {
		font-size: 1.4rem;
		font-family: 
	}

	.nav-desktop ul ul {
		position: static;
	}

	#bar {
		display: inline-block;
		font-size: 40px;
		cursor: pointer;
	}

	#close {
		display: none;
		font-size: 40px;
		cursor: pointer;
	}

	.menu-list > li > .sub-menu::before {
		content: "";
		border: none;
	}

	.menu-parent .menu-parent::after {
		content: "";
		border: solid #3a3a3a;
	  	border-width: 0 3px 3px 0;
	  	display: inline-block;
	  	padding: 3px;
	  	margin-left: 10px;
	  	transform: rotate(45deg);
	  	-webkit-transform: rotate(45deg);
	}

	.menu-parent:hover::after,
	.menu-parent .menu-parent:hover::after {
		content: "";
		border: none;
		display: none;
	}

	/*========Banner section====*/
	.banner .container h1 {
		margin-top: 3em;
	}

	/*=====Popular Courses====*/

	.learn-desining-banner {
		left: 5%;
		top: 45% !important;
		padding: 0.9375em 3.5625em 1em 3.5625em;
	}


	/*====What other say=============*/
	.what-other-say .container .wrap-others-say {
		width: 600px;
		margin-right: auto;
		margin-left: auto;
	}

	/*=====Lates New Section====*/
	.news-detail {
		top: 35%;
	}

	/*==Footer Line Part=====*/
	.page-footer .footer-second-section .footer-line {
		width: 30%;
	}

	.footer-second-section .footer-line:first-child {
		margin-left: 0;
		margin-right: 2em;
	}

	.footer-second-section .footer-line:last-child {
		margin-right: 0;
		margin-left: 2em;
	}

	.page-footer .footer-second-section .social-list {
		width: 30%;
	}

	

	/*=====================================
		Contact Page
	======================================*/

	.contact-page-section .people-info-wrap{
		margin-right: auto;
		margin-left: auto;
	}

	.contact-page-section .contact-info {
		margin-top: 3em;
		margin-left: auto;
		margin-right: auto;
	}

	
	/*=====================================
		Course Listing Page
	======================================*/

	.course-listing-page .button-group::after,
	.gallery-section2 .button-group::after{
		left: 16%;
	}

	.course-listing-page .grid {
		justify-content: space-between;
		
	}

	/*=====================================
		Course Single Page
	======================================*/

	#course-page .course-detail .course-box {
		margin-bottom: 2em;
	}

	#course-page .course-intro {
		padding-top: 3em;
	}
	
}

@media screen and (max-width: 767px) {
	.container {
		max-width: 450px;
	}

	.site-header .top-header .container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
		font-size: 20px;
	}

	.top-header .top-header-left {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
		margin-bottom: 0;
	}

	.top-header-left .top-header-block {
		margin: 0;
		margin-bottom: 1em;
	}

	.top-header-right {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 1em;
	}

	.top-header-right .social-block {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 1em;
	}

	.top-header-right .login-block {
		margin-right: auto;
		margin-left: auto;
	}
	/*====Banner=======================*/

	.banner .container h1 {
		font-size: 3.5rem;
		margin-top: 2em;
	}

	.banner .container h3 {
		font-size: 1.8rem;
	}

	/*====Popular Courses======*/
	.learn-desining-banner {
		top: 50% !important;
	}

	
	/*===What other say============*/
	.about-teacher {
		height: 100vh;
	}

	.what-other-say .container .wrap-others-say {
		margin-right: 0;
		margin-left: 0;
		padding-right: 1em;
		padding-left: 1em;
		width: 100%;
	}

	/*===Footer Links Section============*/

	.page-footer .footer-first-section .container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 40px;
	}


	.footer-first-section .container .box-wrap header h1 {
		font-size: 2.5em;
	}

	.footer-first-section .container .box-wrap p,
	.footer-first-section .container .box-wrap h4,
	.footer-first-section .container .box-wrap ul li a
	 {
		font-size: 1.7em;
	}


	

	.footer-first-section .recent-course-wrap {
		justify-content: unset;
	}

	.footer-first-section .recent-course-wrap .course-name {
		margin-left: 15px;
	}

	.footer-first-section .container .box-wrap .quick-contact textarea {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	/*==Footer Line Part=====*/
	.page-footer .footer-second-section .footer-line {
		display: none;
	}

	.page-footer .footer-second-section .social-list {
		width: 100%;
	}

	.page-footer .footer-second-section .social-list li {
		margin-right: 11%;
	}

	.page-footer .footer-second-section .social-list li a svg {
		font-size: 30px;
	}



	

	/*=====================================
		Contact Page
	======================================*/

	.contact-page-section .people-info-wrap form span{
		flex-flow: column wrap;
	}

	.contact-page-section .people-info-wrap form span .name,
	 .contact-page-section .people-info-wrap form span .email {
	 	width: 100%;
	 }

	.contact-page-section .people-info-wrap form span .name {
		margin-bottom: 0.9375em;
	}

	/*=====================================
		Course Listing Page
	======================================*/

	.course-listing-page .button-group::after,
	.gallery-section2 .button-group::after{
		width: 370px;
		left: 5%;
	}

	.course-listing-page .grid {
		justify-content: space-between;
	}
	/*testimonial*/

	.testimonial-page aside {
		width: 270px !important;
	}
}

@media screen and (max-width: 550px) {
	.container {
		max-width: 300px;
	}

	.top-header-right .social-list li {
		margin-right: 40px;
	}

	.top-header-right .social-list li:nth-last-child(n+3){
		margin-bottom: 30px;
	}

	.top-header-right .social-list li svg {
		font-size: 25px;
	}
	/*Banner Container*/

	.banner .container {
		left: 1rem;
		right: 1rem;
	}

	.banner .container h1 {
		font-size: 2.5rem;
		margin-top: 0.5em;
	}

	.banner .container h3 {
		font-size: 1.5rem;
	}

	#owl-four-nav button {
		padding: 0;
	}

	/*===Popular Courses==*/

	.learn-courses .learn-desining-banner, 
	.course-listing-page .grid-item .learn-desining-banner-course, 
	.recent-course-single .grid-item .learn-desining-banner-course {
		top: 37% !important;
		left: 3%;
		padding: 10px 20px;
	}

	.events-section .event-wrap,
	.upcomming .container .event-wrap
	 {
		margin-bottom: 280px;
		margin-left: auto;
		margin-right: auto;
	}

	.events-section .event-wrap,
	.events-section .event-wrap .img-wrap 
	{
		width: 280px;
	}

	.events-section .event-wrap .details {
		left: 2%;
		top: 80%;
	}

	/*Query Section*/

	.query-section .container p a {
		display: block;
		margin: 0;
	}

	/*==footere=============*/

	.page-footer .footer-second-section .social-list li {
		margin-right: 15%;
	}

	.page-footer .footer-second-section .social-list li:first-child {
		margin-left: 40px;
		margin-bottom: 30px;
	}

	.page-footer .footer-second-section .social-list li:nth-child(4){
		margin-left: 26%;
	}

	/*=========================
		Blog Page
	===========================*/

	.page-content .container {
		flex-flow: row wrap;
	}

	.grid-container .grid-box-wrap {
		width: 270px;
	}

	/*=========================
		Course Listing Page
	==========================*/

	.course-listing-page .button-group::after, 
	.gallery-section2 .button-group::after {
		width: 240px;
	}

	.course-listing-page .grid-item, 
	.recent-course-single .grid-item {
    width: 270px;
	}
}

/*@media screen and (max-width: 479px) {

	.mean-container .mean-nav {
		box-sizing: border-box;
		width: 50%;
	}

	.mean-container .mean-nav ul li a.mean-expand {
		top: 30%;
	}

	.mean-container .mean-nav ul ,
	.nav-menu .sub-menu .sub-menu-g{
		background: #0c1923;
	}

	.nav-menu li > a {
		color: #fff;
	}
}
*/
.what-other-say .wrap-others-say #carousel .flex-active-slide {
    height: 220px;
    width: 150px !important;
}

#carousel .flex-active-slide .hidden {
	display: block;
}

#carousel {
	margin-bottom: 0;
}

#carousel .flex-viewport {
	overflow-y: visible !important;
}

.hidden {
	display: none;
}

/*==testimonial======*/

.what-other-say .container {
	padding-top: 60px;
	padding-bottom: 70px;
	text-align: center;
	color: #fff;
}

.what-other-say .container .owl-carousel{
	margin-top: 50px;
}

.article-subtitle{
	font-size: 3rem;
	color: #12a84e;
}

.what-other-say .container .head {
	font-size: 3.5rem;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1.9em;
	position: relative;
}

.what-other-say .container .head::after {
	position: absolute;
	content: '';
	border: 2.5px solid #12a84e;
	width: 90px;
	left: 46%;
	bottom: 0;
}


.what-other-say .container .customer-item {
	width: 83%;
	background: #000;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.what-other-say .container .customer-item .border {
	border: 1px solid #fff;
	padding: 34px 65px 45px 65px;
}

.what-other-say .container .customer-item .customer-img, 
.what-other-say .container .customer-item .rateYo{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.what-other-say .container .customer-item .rateYo {
	margin-top: 10px;
}

.what-other-say .container .customer-item .customer-img {
	width: 90px;
	margin-bottom: 14px;
}

.what-other-say .container .customer-item figcaption {
	font-size: 1.6rem;
}

.what-other-say .container .customer-item .customer-review {
	margin-top: 1.875em;
	font-size: 1.6rem;
}

.what-other-say .owl-theme .owl-nav {
	position: absolute;
	top: 45%;
	font-size: 2.4rem;
	color: #fff;
	width: 100%;
	margin-top: 0;
	display: flex;
	justify-content: space-between;
}

.what-other-say .owl-carousel .owl-nav button.owl-prev,
.what-other-say .owl-nav button.owl-next {
	border: 2px solid #fff;
	padding: 0.2rem 1.4rem !important;
}

.what-other-say .owl-carousel .owl-nav button.owl-prev:hover,
.what-other-say .owl-nav button.owl-next:hover {
	background: #12a84e;
}
#video_player {
	display: table;
	line-height: 0;
	font-size: 0;
	background: #000;
}
#video_player video,
	#video_player figcaption {
		display: table-cell;
		vertical-align: top;
}
#video_player figcaption {
	width: 25%;
}
#video_player figcaption a {
	display: block;
	opacity: .5;
	transition: 1s opacity;
}
#video_player figcaption a img,
	figure video {
		width: 100%;
		height: auto;
}
#video_player figcaption a:hover {
	opacity: 1;
}
@media (max-width: 700px) {
	#video_player video,
		#video_player figcaption {
			display: table-row;
		}
#video_player figcaption a {
	display: inline-block;
	width: 33.33%;
}
}
